.app {
  margin-top: 50px;
}

body {
  background-color:	#F5F5F5;
}

a {
  color:grey;
}

a:hover {
  color: black;
}

.bottom-bar {
  position: relative;
}

.bottom-bar p {
  position: fixed; 
  bottom: 0; 
  width:100%; 
  text-align: center;
}